html, body {
    margin: 0;
    padding: 0;
    background: #fafafa;
}

#body-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
    background: white;
    -webkit-box-shadow: 0 0 20px #999;
    -ms-box-shadow: 0 0 20px #999;
    box-shadow: 0 0 20px #999;
}

.wizard > .steps .number {
    font-size: 200%;
}

.wizard > .content {
    min-height: initial;    
}

.wizard > .content > .body {
    position: relative;
    float: none;
}

#wizard > div > section {
    display: table;
    height: 12em;
    font-size: 120%;
}

#wizard > div > section > div{
    display: table-cell;
    vertical-align: middle;
}

#validation-report {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    margin-top: 1.5em;
    padding: 0.8em;
}

#progress-report {
    margin-top: 0.8em;    
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.file-name {
    font-weight: bold;
    font-size: 105%;
    margin-bottom: 0.8em;
}

.form-err {
    color: red;
}

#validation-report-success {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color: #2184be;
}
