@{
    ViewBag.Title = "Validate COBie";
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
}

@section Scripts
{
<script src="~/Scripts/validation-main.js"></script>
}

@section Styles
{
<link href="~/Content/validation.css" rel="stylesheet" />
}

<h3>Select your COBie file</h3>
<section>
    <div>
        <div class="form-err" id="form-err-1"></div>
        <p>
            Select your COBie file. Our tool will do its best to get as much information as possible out of it.
        </p>
        <input type="file" style="display: none;" id="input-cobie-file"
               accept=".ifc,.ifczip,.ifcxml,.xls,.xlsx,.xml,.json"/>
        <div style="text-align: center;">
            <div class="cobie-file-name"></div>
            <button id="btn-cobie-file">Select COBie file</button>
        </div>
    </div>
</section>

<h3>Run validation</h3>
<section>
    <div>
        <p>
            This will upload the file "<span class="cobie-file-name"></span>" on our validation server and will perform the validation according to BS 1192-4.
        </p>
        <div style="text-align: center;">
            <button id="btn-run-validation">Run validation</button>
            <div id="progress-report"></div>
            <img src="~/Content/loader.gif" alt="loader" width="50" height="50" id="progress-report-loader"/>
        </div>
    </div>
</section>

<h3>Review issues</h3>
<section>
    <div>
        <p>
            It is possible to fix some of the problems automaticaly. We put a great effort in this.
            Feel free to get this modified file and see the difference.
        </p>
        <div style="text-align: center;">
            <button id="btn-download-fix">
                <img src="~/Content/loader.gif" alt="loader" width="30" height="30" style="vertical-align: middle;"/>
                Download fixed COBie
            </button>
        </div>
        <div id="validation-report-success"></div>
        <textarea id="validation-report" readonly="readonly"></textarea>
    </div>
</section>