<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/Content/jquery_ui_styles_start_theme/jquery-ui.css" rel="stylesheet"/>
    <link href="~/Content/jquery.steps.css" rel="stylesheet"/>
    <link href="~/Content/wizard.css" rel="stylesheet"/>
    @RenderSection("Styles", false)
    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/jqueryui"></script>
    <script src="~/Scripts/jquery.steps.min.js"></script>
    @RenderSection("Scripts", false)
</head>
<body>
<div id="body-content" class="ui-corner-all ui-widget">
    <div id="wizard">
        @RenderBody()
    </div>
</div>
</body>
</html>