<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery_ui_styles_start_theme/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.steps.css" rel="stylesheet" />
    <link href="~/Content/wizard.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/jqueryui"></script>
    <script src="~/Scripts/jquery.steps.min.js"></script>
    <script src="~/Scripts/wizard.js"></script>
</head>
<body>
    <div id="body-content" class="ui-corner-all">
        @RenderBody()
    </div>
</body>
</html>
