
@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_StepByStep.cshtml";
}
@section headerscripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn-primary").click(function () {
                var rFile = getFile("#requirements-file");
                if (!rFile) return;

                var sFile = getFile("#submission-file");
                if (!sFile) return;


                var form = new FormData();
                form.append("dpow", rFile);
                form.append("cobie", sFile);
                var doReport = true;
                $.ajax({
                    url: "/Verification/VerifyCobieFile", //Server script to process data
                    type: "POST",
                    xhr: getXHR,
                    ////Ajax events
                    //beforeSend: beforeSendHandler,
                    success: function (data) {
                        var response = data;
                        if (typeof (data) == "string")
                            response = JSON.parse(data);

                        //wait for wexbim and COBieLite files and load them when ready
                        if (response && response.uploaded) {
                            reportProgress("Your model has been uploaded and is being processed on the server now...");
                            var xlsReport = response.xlsReport;
                            var state = response.state;

                            whenReady("Compliance", xlsReport, function () {
                                doReport = false;
                                var name = getFileNameWithoutExtension(sFile) + ".report";
                                //this will download the file
                                window.location = "/Compliance/GetData?model=" + xlsReport + "&name=" + encodeURI(name);
                            });

                            whenReady("Compliance", state, function () {
                                var reportState = function () {
                                    $.get("/Compliance/GetData?model=" + state, null, function (stateData) {
                                        reportProgress(stateData);

                                        //stop reporting if this is an error message
                                        if (stateData.indexOf("Error") === 0)
                                            doReport = false;
                                    });
                                    if (doReport) setTimeout(reportState, 500); //get the latest state every 0.5s
                                    else reportProgress(""); //clear the message
                                }
                                //start the loop
                                reportState();
                            });

                        } else {
                            reportProgress(response.message);
                        }
                    },
                    error: function (xhr, status, msg) {
                        reportProgress("Error during AJAX processing: " + msg);
                        doReport = false;
                    },
                    // Form data
                    data: form,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });


            });
        });
    </script>
}
<div class="row">
    <div class="col-md-8 col-md-push-2">
        <h1>Submission Report</h1>
        <p>
            To create a submission report you need to upload two files.
        </p>
        <p>
            The first is the requirements file that has been exported from the BIM Toolkit.
            <br/>
            <i class="pull-right">(Click <a href="#">here</a> for instructions on how to create a requirements file.)</i>
        </p>
        <p>
            The second is your submission file, this is a COBie spreadsheet that has been created in your BIM 
            authoring tool or converted from an IFC file using the BIM Toolkit @Html.ActionLink("IFC to COBie convertor", "Convert").
            <br />
            <i class="pull-right">(Click <a href="#">here</a> for instructions on how to create a submission file.)</i>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="input-group">
            <input type="file" accept=".xls,.xlsx,.json,.xml" id="requirements-file"/>
            <input type="text" class="form-control file-button" placeholder="Requirements file..." aria-describedby="basic-addon1">
            <span class="btn btn-default input-group-addon file-button">Browse</span>
        </div>
     </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="input-group">
            <input type="file" accept=".xls,.xlsx,.json,.xml,.ifc,.ifczip,.ifcxml" id="submission-file"/>
            <input type="text" class="form-control file-button" placeholder="Submission file..." aria-describedby="basic-addon1">
            <span class="btn btn-default input-group-addon file-button">Browse</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-push-2">
        <button class="btn btn-primary">Create Submission Report</button>
    </div>
    <div class="col-md-5 col-md-push-2">
        <span id="progress-report"></span>
    </div>
</div>